DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

ADMIN_USERNAME=citabella
ADMIN_EMAIL=admin@citabella.com
ADMIN_PASSWORD=citabella123

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=86400000
